<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>SSM CXF Webservice Demo</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml,
            classpath*:applicationContext-liba.xml,
            classpath*:applicationContext-libb.xml
        </param-value>
    </context-param>

    <!-- TIFF ImageReader Check Filter -->
    <filter>
        <filter-name>tiffCheckFilter</filter-name>
        <filter-class>com.example.cxfdemo.filter.TiffImageReaderCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>tiffCheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Font Check Filter -->
    <filter>
        <filter-name>fontCheckFilter</filter-name>
        <filter-class>com.example.cxfdemo.filter.FontCheckFilter</filter-class>
        <init-param>
            <param-name>targetFont</param-name>
            <param-value>標楷體</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>fontCheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Spring context listener -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Spring MVC DispatcherServlet -->
    <servlet>
        <servlet-name>SpringMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SpringMVC</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- Apache CXF Servlet -->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

</web-app>
